body {
    font-family: sans-serif;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    user-select: none;
}
#screen {
    padding: 0px;
    margin: 0px;
}
input, button {
    height: 18px;
    font-family: sans-serif;
    font-size: 11px;
    border: 0;
}
input {
    width: 40px;
    text-decoration: underline;
}
input[type=range] {
    width: 100px;
    height: 16px;
    font-size: 11px;
}
input[type=checkbox] {
    display: inline;
}
#settings {
    position:fixed; 
    left: 0; 
    bottom: 0;
    width: 150px;
    text-align: right;
}
#settings>span {
    display: inline-block;
    
}
button {
    background-color: white;
    padding: 3px;
}
button:not(.selected):hover {
    background-color:#DDDDDD;
    cursor: pointer;
}
button.selected {
    background-color: white;
    font-weight: bold;
}
button:focus {
    outline: 0;
}
input[type=range] {
    -webkit-appearance: none; 
    background: white; 
    margin: 0;
    padding: 0;
    bottom: -5px;
    position: relative;
}
input[type=range]:focus {
    outline: none; 
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
}
input[type=range]:hover::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #ececec;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color:transparent;
    border: 1px solid #aaa;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0;
}
input[type=range]:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color:#ececec;
    border: 1px solid black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0;
}
.toggle {
    display: inline;
    
}
.toggle input {
    width: 40px;
}
.on-off input {
    width: 20px;
}
#show-hide {
    position: absolute;
    bottom: 0;
    left: 0;
}
#show-hide-button {
    background-color: #fff;
    height: 5px;
    width: 5px;
    border: 2px solid #aaa;
    border-radius: 50%;
}
#show-hide-button:hover {
    border: 2px solid #202020;
}
.hide {
    display: none;
}